# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# To exclude other unnecessary files
thesocialdiary-dao/.settings
thesocialdiary-dao/target/*
thesocialdiary-dao/.classpath
thesocialdiary-dao/.project

thesocialdiary-war/.settings
thesocialdiary-war/target/*
thesocialdiary-war/.classpath
thesocialdiary-war/.project

thesocialdiary-web/.settings
thesocialdiary-web/target/*
thesocialdiary-web/.classpath
thesocialdiary-web/.project